* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    max-width: 1024px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

body > * {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    justify-content: center;
}

header {
    background: #298CD6;
    min-height: 120px;
    color: white;
}

header h1 {
    margin-bottom: 10px;
    font-size: 2.5em;
}

header h2 {
    font-size: 1.75em;
    font-weight: 300;
}

header h2 small {
    font-size: .75em;
}

header h2 small span {
    font-size: .5em;
}

main {
    background-color: #3D4856;
    min-height: 300px;
    justify-content: flex-start;
    padding-top: 40px;
    padding-bottom: 70px;
    position: relative;
}
form {
    display: flex;
    align-items: center;
}

form#newTaskForm:hover > *,
form#newTaskForm:focus > *,
form#newTaskForm:active > * {
    background-color: #bfe0b1;
    font-size: 1.3rem;
    height: 50px;
}

form#newTaskForm:hover > input,
form#newTaskForm:focus > input,
form#newTaskForm:active > input {
    min-width: 360px;
}

form#newTaskForm:hover > button,
form#newTaskForm:focus > button,
form#newTaskForm:active > button {
    min-width: 90px;
    height: 48px;
}

#newTask {
    padding: 10px;
    font-size: 1.1rem;
    min-width: 320px;
    height: 40px;
    border-radius: 5px;
    transition-property: min-width, font-size, height, background-color;
    transition-duration: .3s;
    transition-timing-function: linear;
    transition-delay: .05s;
}

button {
    background: white url("../img/icons8-plus-50.png") no-repeat right 5px center;
    background-size: 25px;
    border-radius: 5px;
    margin-left: 5px;
    min-width: 75px;
    /*border: 1px solid transparent;*/
    border: none;
    transition-property: min-width, font-size, height, background-color;
    transition-duration: .3s;
    transition-timing-function: linear;
    position: relative;
    overflow: clip;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 7px;
}

button img {
    width: 25px;
    height: auto;
}

button:hover {
    background-color: #a9cba9;
    cursor: pointer;
}

.delBtn {
    background: white url("../img/icons8-minus-50.png") no-repeat right 5px center;
    background-size: 25px;
    margin-left: 1px;
    height: 40px;
    border: 1px solid transparent;
}

.delBtn:hover {
    background-color: #d395ad;
    border: 1px solid black;
}

#taskList {
    margin-top: 20px;
    display: block;
}

#taskList li {
    list-style: none;
    margin-top: 15px;
    overflow: clip;
    display: flex;
    align-items: stretch;
    height: 42px;
    min-width: 322px;
}

#taskList span {
    display: flex;
    align-items: stretch;
    position: relative;
    padding: 10px;
    margin-right: 5px;
    min-width: 320px;
    height: 40px;
    vertical-align: middle;
    outline: 1px solid transparent;
    background-color: #39716B;
    font-weight: 300;
    transition-property: border-color, background-color;
    transition-duration: 0.25s;
    transition-timing-function: linear;

    border-radius: 5px;
    box-shadow: #000000 1px 1px 1px 0px;
}

#taskList span:hover {
    border: 1px solid black;
    background-color: #3a8981;
    cursor: pointer;
}

#taskList span:hover:after {
    content: 'Click to mark as done';
    font-style: normal;
    color: white;
    font-size: 12px;
    position: absolute;
    right: 7px;
    top: 3px;
}

#taskList .completed span {
    font-style: italic;
    text-decoration: line-through;
    opacity: 0.5;
    background-color: dimgray;
}

#taskList .completed span:hover {
    background-color: #7c7c7c;
}

#taskList  .completed span:hover::after {
    content: 'Click to unmark';
    position: absolute;
    right: 10px;
}

#taskList .completed  button:hover {
    background-color: #94305A;
}

#actions {
    padding: 5px;
    position: absolute;
    bottom: 10px;
}

#actions span {
    cursor: pointer;
    color: white;
    text-decoration: none;
    margin-right: 10px;
    line-height:  1.5rem;
}

#actions span:hover {
    color: yellow;
}

.hidden {
    visibility: hidden;
}

footer {
    background-color: #A1ACBD;
    padding: 20px 0 10px;
    color: #3D4856;
}

footer a {
    color: #94305A;
    text-decoration: none;
}

footer a:hover {
    color: #CD648C;
    text-decoration: none;
}
footer p {
    margin-bottom: 10px;
}

@media screen and (max-width: 460px) {
    #newTaskForm {
        display: flex;
        flex-direction: column;
    }

    #newTask {
       width: 90vw;
    }

    #newTaskForm button {
        margin-top: 10px;
    }

    #taskList li {
        display: flex;
        flex-direction: column;
        max-width: 95vw;
        margin-bottom: 25px;
        height: unset;
        align-items: center;
    }

    #taskList span {
        margin-right: 0;
        width: 90vw;
    }

    #taskList button {
        margin-top: 7px;
    }

}